/* style.css */
body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
}

.dark-mode {
    background-color: #222;
    color: white;
}

#toggle-theme {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

#toggle-theme:hover {
    background-color: #555;
}

.project-card {
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Hover ile büyüme efekti */
}

.project-card:hover,
.project-card:focus {
    transform: scale(1.05); /* Kartı büyütür */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Gölgeyi artırır */
}


body {
    background-color: #f0f0f0; /* Açık gri arka plan */
    color: #363636; /* Koyu gri yazı rengi */
    font-family: Arial, sans-serif;
}

body {
    background-color: #add8e6; /* Açık mavi arka plan */
    color: #002244; /* Koyu mavi yazılar */
}

.dark-mode {
    background-color: #121212; /* Siyah arka plan */
    color: #ffffff; /* Beyaz yazılar */
}

button {
    background-color: #007bff; /* Mavi buton */
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Buton rengi değişimi */
}

button:hover,
button:focus {
    background-color: #0056b3; /* Daha koyu mavi */
    outline: none; /* Focus sınırlarını kaldırır */
}


a {
    color: #007bff; /* Mavi linkler */
    text-decoration: none;
    transition: color 0.3s ease; /* Renk değişimi için animasyon */
}

a:hover,
a:focus {
    color: #0056b3; /* Daha koyu mavi */
    text-decoration: underline; /* Odaklandığında altı çizili yapılır */
}